/*
Bridge-Watch API

Real-time Stellar bridge monitoring API. Provides bridge statuses, asset health, liquidity, price feeds, alert management, analytics, and administrative controls.  ## Authentication Protected endpoints require an API key in the `x-api-key` header.  ## Rate Limiting All endpoints are rate-limited per IP using a sliding-window algorithm backed by Redis. Exceeding the limit returns **429 Too Many Requests** with a `Retry-After` header.  ## Versioning All REST endpoints are prefixed with `/api/v1/`. Breaking changes increment the version segment.  ## Error Format ```json { \"error\": \"Short label\", \"message\": \"Human-readable description\" } ```

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bridgewatch

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type BridgesAPI interface {

	/*
	ApiV1BridgesBridgeStatsGet Get bridge statistics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bridge
	@return ApiApiV1BridgesBridgeStatsGetRequest
	*/
	ApiV1BridgesBridgeStatsGet(ctx context.Context, bridge string) ApiApiV1BridgesBridgeStatsGetRequest

	// ApiV1BridgesBridgeStatsGetExecute executes the request
	ApiV1BridgesBridgeStatsGetExecute(r ApiApiV1BridgesBridgeStatsGetRequest) (*http.Response, error)

	/*
	ApiV1BridgesGet List all bridge statuses

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1BridgesGetRequest
	*/
	ApiV1BridgesGet(ctx context.Context) ApiApiV1BridgesGetRequest

	// ApiV1BridgesGetExecute executes the request
	ApiV1BridgesGetExecute(r ApiApiV1BridgesGetRequest) (*http.Response, error)
}

// BridgesAPIService BridgesAPI service
type BridgesAPIService service

type ApiApiV1BridgesBridgeStatsGetRequest struct {
	ctx context.Context
	ApiService BridgesAPI
	bridge string
}

func (r ApiApiV1BridgesBridgeStatsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1BridgesBridgeStatsGetExecute(r)
}

/*
ApiV1BridgesBridgeStatsGet Get bridge statistics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bridge
 @return ApiApiV1BridgesBridgeStatsGetRequest
*/
func (a *BridgesAPIService) ApiV1BridgesBridgeStatsGet(ctx context.Context, bridge string) ApiApiV1BridgesBridgeStatsGetRequest {
	return ApiApiV1BridgesBridgeStatsGetRequest{
		ApiService: a,
		ctx: ctx,
		bridge: bridge,
	}
}

// Execute executes the request
func (a *BridgesAPIService) ApiV1BridgesBridgeStatsGetExecute(r ApiApiV1BridgesBridgeStatsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BridgesAPIService.ApiV1BridgesBridgeStatsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bridges/{bridge}/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"bridge"+"}", url.PathEscape(parameterValueToString(r.bridge, "bridge")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1BridgesGetRequest struct {
	ctx context.Context
	ApiService BridgesAPI
}

func (r ApiApiV1BridgesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1BridgesGetExecute(r)
}

/*
ApiV1BridgesGet List all bridge statuses

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1BridgesGetRequest
*/
func (a *BridgesAPIService) ApiV1BridgesGet(ctx context.Context) ApiApiV1BridgesGetRequest {
	return ApiApiV1BridgesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *BridgesAPIService) ApiV1BridgesGetExecute(r ApiApiV1BridgesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BridgesAPIService.ApiV1BridgesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/bridges"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
