/*
Bridge-Watch API

Real-time Stellar bridge monitoring API. Provides bridge statuses, asset health, liquidity, price feeds, alert management, analytics, and administrative controls.  ## Authentication Protected endpoints require an API key in the `x-api-key` header.  ## Rate Limiting All endpoints are rate-limited per IP using a sliding-window algorithm backed by Redis. Exceeding the limit returns **429 Too Many Requests** with a `Retry-After` header.  ## Versioning All REST endpoints are prefixed with `/api/v1/`. Breaking changes increment the version segment.  ## Error Format ```json { \"error\": \"Short label\", \"message\": \"Human-readable description\" } ```

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bridgewatch

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type AnalyticsAPI interface {

	/*
	ApiV1AnalyticsAssetsRankingsGet Get asset rankings

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1AnalyticsAssetsRankingsGetRequest
	*/
	ApiV1AnalyticsAssetsRankingsGet(ctx context.Context) ApiApiV1AnalyticsAssetsRankingsGetRequest

	// ApiV1AnalyticsAssetsRankingsGetExecute executes the request
	ApiV1AnalyticsAssetsRankingsGetExecute(r ApiApiV1AnalyticsAssetsRankingsGetRequest) (*http.Response, error)

	/*
	ApiV1AnalyticsBridgesComparisonGet Get bridge comparison metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1AnalyticsBridgesComparisonGetRequest
	*/
	ApiV1AnalyticsBridgesComparisonGet(ctx context.Context) ApiApiV1AnalyticsBridgesComparisonGetRequest

	// ApiV1AnalyticsBridgesComparisonGetExecute executes the request
	ApiV1AnalyticsBridgesComparisonGetExecute(r ApiApiV1AnalyticsBridgesComparisonGetRequest) (*http.Response, error)

	/*
	ApiV1AnalyticsCacheInvalidatePost Invalidate analytics cache

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1AnalyticsCacheInvalidatePostRequest
	*/
	ApiV1AnalyticsCacheInvalidatePost(ctx context.Context) ApiApiV1AnalyticsCacheInvalidatePostRequest

	// ApiV1AnalyticsCacheInvalidatePostExecute executes the request
	ApiV1AnalyticsCacheInvalidatePostExecute(r ApiApiV1AnalyticsCacheInvalidatePostRequest) (*http.Response, error)

	/*
	ApiV1AnalyticsCustomMetricsGet List all custom metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1AnalyticsCustomMetricsGetRequest
	*/
	ApiV1AnalyticsCustomMetricsGet(ctx context.Context) ApiApiV1AnalyticsCustomMetricsGetRequest

	// ApiV1AnalyticsCustomMetricsGetExecute executes the request
	ApiV1AnalyticsCustomMetricsGetExecute(r ApiApiV1AnalyticsCustomMetricsGetRequest) (*http.Response, error)

	/*
	ApiV1AnalyticsCustomMetricsMetricIdGet Execute a custom metric query

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param metricId
	@return ApiApiV1AnalyticsCustomMetricsMetricIdGetRequest
	*/
	ApiV1AnalyticsCustomMetricsMetricIdGet(ctx context.Context, metricId string) ApiApiV1AnalyticsCustomMetricsMetricIdGetRequest

	// ApiV1AnalyticsCustomMetricsMetricIdGetExecute executes the request
	ApiV1AnalyticsCustomMetricsMetricIdGetExecute(r ApiApiV1AnalyticsCustomMetricsMetricIdGetRequest) (*http.Response, error)

	/*
	ApiV1AnalyticsHistoricalMetricGet Get historical comparison data

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param metric
	@return ApiApiV1AnalyticsHistoricalMetricGetRequest
	*/
	ApiV1AnalyticsHistoricalMetricGet(ctx context.Context, metric string) ApiApiV1AnalyticsHistoricalMetricGetRequest

	// ApiV1AnalyticsHistoricalMetricGetExecute executes the request
	ApiV1AnalyticsHistoricalMetricGetExecute(r ApiApiV1AnalyticsHistoricalMetricGetRequest) (*http.Response, error)

	/*
	ApiV1AnalyticsProtocolGet Get protocol-wide statistics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1AnalyticsProtocolGetRequest
	*/
	ApiV1AnalyticsProtocolGet(ctx context.Context) ApiApiV1AnalyticsProtocolGetRequest

	// ApiV1AnalyticsProtocolGetExecute executes the request
	ApiV1AnalyticsProtocolGetExecute(r ApiApiV1AnalyticsProtocolGetRequest) (*http.Response, error)

	/*
	ApiV1AnalyticsSummaryGet Get comprehensive analytics summary

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1AnalyticsSummaryGetRequest
	*/
	ApiV1AnalyticsSummaryGet(ctx context.Context) ApiApiV1AnalyticsSummaryGetRequest

	// ApiV1AnalyticsSummaryGetExecute executes the request
	ApiV1AnalyticsSummaryGetExecute(r ApiApiV1AnalyticsSummaryGetRequest) (*http.Response, error)

	/*
	ApiV1AnalyticsTopPerformersGet Get top performing assets or bridges

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1AnalyticsTopPerformersGetRequest
	*/
	ApiV1AnalyticsTopPerformersGet(ctx context.Context) ApiApiV1AnalyticsTopPerformersGetRequest

	// ApiV1AnalyticsTopPerformersGetExecute executes the request
	ApiV1AnalyticsTopPerformersGetExecute(r ApiApiV1AnalyticsTopPerformersGetRequest) (*http.Response, error)

	/*
	ApiV1AnalyticsTrendsMetricGet Calculate trend for a metric

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param metric
	@return ApiApiV1AnalyticsTrendsMetricGetRequest
	*/
	ApiV1AnalyticsTrendsMetricGet(ctx context.Context, metric string) ApiApiV1AnalyticsTrendsMetricGetRequest

	// ApiV1AnalyticsTrendsMetricGetExecute executes the request
	ApiV1AnalyticsTrendsMetricGetExecute(r ApiApiV1AnalyticsTrendsMetricGetRequest) (*http.Response, error)

	/*
	ApiV1AnalyticsVolumeGet Get volume aggregations

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1AnalyticsVolumeGetRequest
	*/
	ApiV1AnalyticsVolumeGet(ctx context.Context) ApiApiV1AnalyticsVolumeGetRequest

	// ApiV1AnalyticsVolumeGetExecute executes the request
	ApiV1AnalyticsVolumeGetExecute(r ApiApiV1AnalyticsVolumeGetRequest) (*http.Response, error)
}

// AnalyticsAPIService AnalyticsAPI service
type AnalyticsAPIService service

type ApiApiV1AnalyticsAssetsRankingsGetRequest struct {
	ctx context.Context
	ApiService AnalyticsAPI
}

func (r ApiApiV1AnalyticsAssetsRankingsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AnalyticsAssetsRankingsGetExecute(r)
}

/*
ApiV1AnalyticsAssetsRankingsGet Get asset rankings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1AnalyticsAssetsRankingsGetRequest
*/
func (a *AnalyticsAPIService) ApiV1AnalyticsAssetsRankingsGet(ctx context.Context) ApiApiV1AnalyticsAssetsRankingsGetRequest {
	return ApiApiV1AnalyticsAssetsRankingsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AnalyticsAPIService) ApiV1AnalyticsAssetsRankingsGetExecute(r ApiApiV1AnalyticsAssetsRankingsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.ApiV1AnalyticsAssetsRankingsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/analytics/assets/rankings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AnalyticsBridgesComparisonGetRequest struct {
	ctx context.Context
	ApiService AnalyticsAPI
}

func (r ApiApiV1AnalyticsBridgesComparisonGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AnalyticsBridgesComparisonGetExecute(r)
}

/*
ApiV1AnalyticsBridgesComparisonGet Get bridge comparison metrics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1AnalyticsBridgesComparisonGetRequest
*/
func (a *AnalyticsAPIService) ApiV1AnalyticsBridgesComparisonGet(ctx context.Context) ApiApiV1AnalyticsBridgesComparisonGetRequest {
	return ApiApiV1AnalyticsBridgesComparisonGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AnalyticsAPIService) ApiV1AnalyticsBridgesComparisonGetExecute(r ApiApiV1AnalyticsBridgesComparisonGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.ApiV1AnalyticsBridgesComparisonGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/analytics/bridges/comparison"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AnalyticsCacheInvalidatePostRequest struct {
	ctx context.Context
	ApiService AnalyticsAPI
	apiV1AnalyticsCacheInvalidatePostRequest *ApiV1AnalyticsCacheInvalidatePostRequest
}

func (r ApiApiV1AnalyticsCacheInvalidatePostRequest) ApiV1AnalyticsCacheInvalidatePostRequest(apiV1AnalyticsCacheInvalidatePostRequest ApiV1AnalyticsCacheInvalidatePostRequest) ApiApiV1AnalyticsCacheInvalidatePostRequest {
	r.apiV1AnalyticsCacheInvalidatePostRequest = &apiV1AnalyticsCacheInvalidatePostRequest
	return r
}

func (r ApiApiV1AnalyticsCacheInvalidatePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AnalyticsCacheInvalidatePostExecute(r)
}

/*
ApiV1AnalyticsCacheInvalidatePost Invalidate analytics cache

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1AnalyticsCacheInvalidatePostRequest
*/
func (a *AnalyticsAPIService) ApiV1AnalyticsCacheInvalidatePost(ctx context.Context) ApiApiV1AnalyticsCacheInvalidatePostRequest {
	return ApiApiV1AnalyticsCacheInvalidatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AnalyticsAPIService) ApiV1AnalyticsCacheInvalidatePostExecute(r ApiApiV1AnalyticsCacheInvalidatePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.ApiV1AnalyticsCacheInvalidatePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/analytics/cache/invalidate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiV1AnalyticsCacheInvalidatePostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AnalyticsCustomMetricsGetRequest struct {
	ctx context.Context
	ApiService AnalyticsAPI
}

func (r ApiApiV1AnalyticsCustomMetricsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AnalyticsCustomMetricsGetExecute(r)
}

/*
ApiV1AnalyticsCustomMetricsGet List all custom metrics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1AnalyticsCustomMetricsGetRequest
*/
func (a *AnalyticsAPIService) ApiV1AnalyticsCustomMetricsGet(ctx context.Context) ApiApiV1AnalyticsCustomMetricsGetRequest {
	return ApiApiV1AnalyticsCustomMetricsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AnalyticsAPIService) ApiV1AnalyticsCustomMetricsGetExecute(r ApiApiV1AnalyticsCustomMetricsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.ApiV1AnalyticsCustomMetricsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/analytics/custom-metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AnalyticsCustomMetricsMetricIdGetRequest struct {
	ctx context.Context
	ApiService AnalyticsAPI
	metricId string
}

func (r ApiApiV1AnalyticsCustomMetricsMetricIdGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AnalyticsCustomMetricsMetricIdGetExecute(r)
}

/*
ApiV1AnalyticsCustomMetricsMetricIdGet Execute a custom metric query

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param metricId
 @return ApiApiV1AnalyticsCustomMetricsMetricIdGetRequest
*/
func (a *AnalyticsAPIService) ApiV1AnalyticsCustomMetricsMetricIdGet(ctx context.Context, metricId string) ApiApiV1AnalyticsCustomMetricsMetricIdGetRequest {
	return ApiApiV1AnalyticsCustomMetricsMetricIdGetRequest{
		ApiService: a,
		ctx: ctx,
		metricId: metricId,
	}
}

// Execute executes the request
func (a *AnalyticsAPIService) ApiV1AnalyticsCustomMetricsMetricIdGetExecute(r ApiApiV1AnalyticsCustomMetricsMetricIdGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.ApiV1AnalyticsCustomMetricsMetricIdGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/analytics/custom-metrics/{metricId}"
	localVarPath = strings.Replace(localVarPath, "{"+"metricId"+"}", url.PathEscape(parameterValueToString(r.metricId, "metricId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AnalyticsHistoricalMetricGetRequest struct {
	ctx context.Context
	ApiService AnalyticsAPI
	metric string
	symbol *string
	days *int32
}

func (r ApiApiV1AnalyticsHistoricalMetricGetRequest) Symbol(symbol string) ApiApiV1AnalyticsHistoricalMetricGetRequest {
	r.symbol = &symbol
	return r
}

func (r ApiApiV1AnalyticsHistoricalMetricGetRequest) Days(days int32) ApiApiV1AnalyticsHistoricalMetricGetRequest {
	r.days = &days
	return r
}

func (r ApiApiV1AnalyticsHistoricalMetricGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AnalyticsHistoricalMetricGetExecute(r)
}

/*
ApiV1AnalyticsHistoricalMetricGet Get historical comparison data

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param metric
 @return ApiApiV1AnalyticsHistoricalMetricGetRequest
*/
func (a *AnalyticsAPIService) ApiV1AnalyticsHistoricalMetricGet(ctx context.Context, metric string) ApiApiV1AnalyticsHistoricalMetricGetRequest {
	return ApiApiV1AnalyticsHistoricalMetricGetRequest{
		ApiService: a,
		ctx: ctx,
		metric: metric,
	}
}

// Execute executes the request
func (a *AnalyticsAPIService) ApiV1AnalyticsHistoricalMetricGetExecute(r ApiApiV1AnalyticsHistoricalMetricGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.ApiV1AnalyticsHistoricalMetricGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/analytics/historical/{metric}"
	localVarPath = strings.Replace(localVarPath, "{"+"metric"+"}", url.PathEscape(parameterValueToString(r.metric, "metric")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.symbol != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "symbol", r.symbol, "")
	}
	if r.days != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "days", r.days, "")
	} else {
		var defaultValue int32 = 30
		r.days = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AnalyticsProtocolGetRequest struct {
	ctx context.Context
	ApiService AnalyticsAPI
	forceRefresh *string
}

func (r ApiApiV1AnalyticsProtocolGetRequest) ForceRefresh(forceRefresh string) ApiApiV1AnalyticsProtocolGetRequest {
	r.forceRefresh = &forceRefresh
	return r
}

func (r ApiApiV1AnalyticsProtocolGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AnalyticsProtocolGetExecute(r)
}

/*
ApiV1AnalyticsProtocolGet Get protocol-wide statistics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1AnalyticsProtocolGetRequest
*/
func (a *AnalyticsAPIService) ApiV1AnalyticsProtocolGet(ctx context.Context) ApiApiV1AnalyticsProtocolGetRequest {
	return ApiApiV1AnalyticsProtocolGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AnalyticsAPIService) ApiV1AnalyticsProtocolGetExecute(r ApiApiV1AnalyticsProtocolGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.ApiV1AnalyticsProtocolGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/analytics/protocol"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.forceRefresh != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "forceRefresh", r.forceRefresh, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AnalyticsSummaryGetRequest struct {
	ctx context.Context
	ApiService AnalyticsAPI
}

func (r ApiApiV1AnalyticsSummaryGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AnalyticsSummaryGetExecute(r)
}

/*
ApiV1AnalyticsSummaryGet Get comprehensive analytics summary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1AnalyticsSummaryGetRequest
*/
func (a *AnalyticsAPIService) ApiV1AnalyticsSummaryGet(ctx context.Context) ApiApiV1AnalyticsSummaryGetRequest {
	return ApiApiV1AnalyticsSummaryGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AnalyticsAPIService) ApiV1AnalyticsSummaryGetExecute(r ApiApiV1AnalyticsSummaryGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.ApiV1AnalyticsSummaryGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/analytics/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AnalyticsTopPerformersGetRequest struct {
	ctx context.Context
	ApiService AnalyticsAPI
	type_ *string
	metric *string
	limit *int32
}

func (r ApiApiV1AnalyticsTopPerformersGetRequest) Type_(type_ string) ApiApiV1AnalyticsTopPerformersGetRequest {
	r.type_ = &type_
	return r
}

func (r ApiApiV1AnalyticsTopPerformersGetRequest) Metric(metric string) ApiApiV1AnalyticsTopPerformersGetRequest {
	r.metric = &metric
	return r
}

func (r ApiApiV1AnalyticsTopPerformersGetRequest) Limit(limit int32) ApiApiV1AnalyticsTopPerformersGetRequest {
	r.limit = &limit
	return r
}

func (r ApiApiV1AnalyticsTopPerformersGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AnalyticsTopPerformersGetExecute(r)
}

/*
ApiV1AnalyticsTopPerformersGet Get top performing assets or bridges

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1AnalyticsTopPerformersGetRequest
*/
func (a *AnalyticsAPIService) ApiV1AnalyticsTopPerformersGet(ctx context.Context) ApiApiV1AnalyticsTopPerformersGetRequest {
	return ApiApiV1AnalyticsTopPerformersGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AnalyticsAPIService) ApiV1AnalyticsTopPerformersGetExecute(r ApiApiV1AnalyticsTopPerformersGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.ApiV1AnalyticsTopPerformersGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/analytics/top-performers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	} else {
		var defaultValue string = "assets"
		r.type_ = &defaultValue
	}
	if r.metric != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metric", r.metric, "")
	} else {
		var defaultValue string = "health"
		r.metric = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue int32 = 10
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AnalyticsTrendsMetricGetRequest struct {
	ctx context.Context
	ApiService AnalyticsAPI
	metric string
}

func (r ApiApiV1AnalyticsTrendsMetricGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AnalyticsTrendsMetricGetExecute(r)
}

/*
ApiV1AnalyticsTrendsMetricGet Calculate trend for a metric

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param metric
 @return ApiApiV1AnalyticsTrendsMetricGetRequest
*/
func (a *AnalyticsAPIService) ApiV1AnalyticsTrendsMetricGet(ctx context.Context, metric string) ApiApiV1AnalyticsTrendsMetricGetRequest {
	return ApiApiV1AnalyticsTrendsMetricGetRequest{
		ApiService: a,
		ctx: ctx,
		metric: metric,
	}
}

// Execute executes the request
func (a *AnalyticsAPIService) ApiV1AnalyticsTrendsMetricGetExecute(r ApiApiV1AnalyticsTrendsMetricGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.ApiV1AnalyticsTrendsMetricGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/analytics/trends/{metric}"
	localVarPath = strings.Replace(localVarPath, "{"+"metric"+"}", url.PathEscape(parameterValueToString(r.metric, "metric")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1AnalyticsVolumeGetRequest struct {
	ctx context.Context
	ApiService AnalyticsAPI
	period *string
	symbol *string
	bridgeName *string
}

func (r ApiApiV1AnalyticsVolumeGetRequest) Period(period string) ApiApiV1AnalyticsVolumeGetRequest {
	r.period = &period
	return r
}

func (r ApiApiV1AnalyticsVolumeGetRequest) Symbol(symbol string) ApiApiV1AnalyticsVolumeGetRequest {
	r.symbol = &symbol
	return r
}

func (r ApiApiV1AnalyticsVolumeGetRequest) BridgeName(bridgeName string) ApiApiV1AnalyticsVolumeGetRequest {
	r.bridgeName = &bridgeName
	return r
}

func (r ApiApiV1AnalyticsVolumeGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1AnalyticsVolumeGetExecute(r)
}

/*
ApiV1AnalyticsVolumeGet Get volume aggregations

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1AnalyticsVolumeGetRequest
*/
func (a *AnalyticsAPIService) ApiV1AnalyticsVolumeGet(ctx context.Context) ApiApiV1AnalyticsVolumeGetRequest {
	return ApiApiV1AnalyticsVolumeGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AnalyticsAPIService) ApiV1AnalyticsVolumeGetExecute(r ApiApiV1AnalyticsVolumeGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.ApiV1AnalyticsVolumeGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/analytics/volume"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "")
	} else {
		var defaultValue string = "daily"
		r.period = &defaultValue
	}
	if r.symbol != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "symbol", r.symbol, "")
	}
	if r.bridgeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bridgeName", r.bridgeName, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
