/*
Bridge-Watch API

Real-time Stellar bridge monitoring API. Provides bridge statuses, asset health, liquidity, price feeds, alert management, analytics, and administrative controls.  ## Authentication Protected endpoints require an API key in the `x-api-key` header.  ## Rate Limiting All endpoints are rate-limited per IP using a sliding-window algorithm backed by Redis. Exceeding the limit returns **429 Too Many Requests** with a `Retry-After` header.  ## Versioning All REST endpoints are prefixed with `/api/v1/`. Breaking changes increment the version segment.  ## Error Format ```json { \"error\": \"Short label\", \"message\": \"Human-readable description\" } ```

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bridgewatch

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type JobsAPI interface {

	/*
	ApiV1JobsJobNameTriggerPost Manually trigger a job

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param jobName
	@return ApiApiV1JobsJobNameTriggerPostRequest
	*/
	ApiV1JobsJobNameTriggerPost(ctx context.Context, jobName string) ApiApiV1JobsJobNameTriggerPostRequest

	// ApiV1JobsJobNameTriggerPostExecute executes the request
	ApiV1JobsJobNameTriggerPostExecute(r ApiApiV1JobsJobNameTriggerPostRequest) (*http.Response, error)

	/*
	ApiV1JobsMonitorGet Get job queue status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1JobsMonitorGetRequest
	*/
	ApiV1JobsMonitorGet(ctx context.Context) ApiApiV1JobsMonitorGetRequest

	// ApiV1JobsMonitorGetExecute executes the request
	ApiV1JobsMonitorGetExecute(r ApiApiV1JobsMonitorGetRequest) (*http.Response, error)
}

// JobsAPIService JobsAPI service
type JobsAPIService service

type ApiApiV1JobsJobNameTriggerPostRequest struct {
	ctx context.Context
	ApiService JobsAPI
	jobName string
}

func (r ApiApiV1JobsJobNameTriggerPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1JobsJobNameTriggerPostExecute(r)
}

/*
ApiV1JobsJobNameTriggerPost Manually trigger a job

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param jobName
 @return ApiApiV1JobsJobNameTriggerPostRequest
*/
func (a *JobsAPIService) ApiV1JobsJobNameTriggerPost(ctx context.Context, jobName string) ApiApiV1JobsJobNameTriggerPostRequest {
	return ApiApiV1JobsJobNameTriggerPostRequest{
		ApiService: a,
		ctx: ctx,
		jobName: jobName,
	}
}

// Execute executes the request
func (a *JobsAPIService) ApiV1JobsJobNameTriggerPostExecute(r ApiApiV1JobsJobNameTriggerPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobsAPIService.ApiV1JobsJobNameTriggerPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/jobs/{jobName}/trigger"
	localVarPath = strings.Replace(localVarPath, "{"+"jobName"+"}", url.PathEscape(parameterValueToString(r.jobName, "jobName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1JobsMonitorGetRequest struct {
	ctx context.Context
	ApiService JobsAPI
}

func (r ApiApiV1JobsMonitorGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1JobsMonitorGetExecute(r)
}

/*
ApiV1JobsMonitorGet Get job queue status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1JobsMonitorGetRequest
*/
func (a *JobsAPIService) ApiV1JobsMonitorGet(ctx context.Context) ApiApiV1JobsMonitorGetRequest {
	return ApiApiV1JobsMonitorGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *JobsAPIService) ApiV1JobsMonitorGetExecute(r ApiApiV1JobsMonitorGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobsAPIService.ApiV1JobsMonitorGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/jobs/monitor"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
