/*
Bridge-Watch API

Real-time Stellar bridge monitoring API. Provides bridge statuses, asset health, liquidity, price feeds, alert management, analytics, and administrative controls.  ## Authentication Protected endpoints require an API key in the `x-api-key` header.  ## Rate Limiting All endpoints are rate-limited per IP using a sliding-window algorithm backed by Redis. Exceeding the limit returns **429 Too Many Requests** with a `Retry-After` header.  ## Versioning All REST endpoints are prefixed with `/api/v1/`. Breaking changes increment the version segment.  ## Error Format ```json { \"error\": \"Short label\", \"message\": \"Human-readable description\" } ```

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bridgewatch

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type CircuitBreakerAPI interface {

	/*
	ApiV1CircuitBreakerPausePost Pause a scope (not yet implemented — requires guardian auth)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1CircuitBreakerPausePostRequest
	*/
	ApiV1CircuitBreakerPausePost(ctx context.Context) ApiApiV1CircuitBreakerPausePostRequest

	// ApiV1CircuitBreakerPausePostExecute executes the request
	ApiV1CircuitBreakerPausePostExecute(r ApiApiV1CircuitBreakerPausePostRequest) (*http.Response, error)

	/*
	ApiV1CircuitBreakerRecoveryPost Recover from a pause (not yet implemented — requires guardian auth)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1CircuitBreakerRecoveryPostRequest
	*/
	ApiV1CircuitBreakerRecoveryPost(ctx context.Context) ApiApiV1CircuitBreakerRecoveryPostRequest

	// ApiV1CircuitBreakerRecoveryPostExecute executes the request
	ApiV1CircuitBreakerRecoveryPostExecute(r ApiApiV1CircuitBreakerRecoveryPostRequest) (*http.Response, error)

	/*
	ApiV1CircuitBreakerStatusGet Check circuit-breaker pause status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1CircuitBreakerStatusGetRequest
	*/
	ApiV1CircuitBreakerStatusGet(ctx context.Context) ApiApiV1CircuitBreakerStatusGetRequest

	// ApiV1CircuitBreakerStatusGetExecute executes the request
	ApiV1CircuitBreakerStatusGetExecute(r ApiApiV1CircuitBreakerStatusGetRequest) (*http.Response, error)

	/*
	ApiV1CircuitBreakerWhitelistGet Check whitelist status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1CircuitBreakerWhitelistGetRequest
	*/
	ApiV1CircuitBreakerWhitelistGet(ctx context.Context) ApiApiV1CircuitBreakerWhitelistGetRequest

	// ApiV1CircuitBreakerWhitelistGetExecute executes the request
	ApiV1CircuitBreakerWhitelistGetExecute(r ApiApiV1CircuitBreakerWhitelistGetRequest) (*http.Response, error)
}

// CircuitBreakerAPIService CircuitBreakerAPI service
type CircuitBreakerAPIService service

type ApiApiV1CircuitBreakerPausePostRequest struct {
	ctx context.Context
	ApiService CircuitBreakerAPI
	body *map[string]interface{}
}

func (r ApiApiV1CircuitBreakerPausePostRequest) Body(body map[string]interface{}) ApiApiV1CircuitBreakerPausePostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1CircuitBreakerPausePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1CircuitBreakerPausePostExecute(r)
}

/*
ApiV1CircuitBreakerPausePost Pause a scope (not yet implemented — requires guardian auth)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1CircuitBreakerPausePostRequest
*/
func (a *CircuitBreakerAPIService) ApiV1CircuitBreakerPausePost(ctx context.Context) ApiApiV1CircuitBreakerPausePostRequest {
	return ApiApiV1CircuitBreakerPausePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CircuitBreakerAPIService) ApiV1CircuitBreakerPausePostExecute(r ApiApiV1CircuitBreakerPausePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitBreakerAPIService.ApiV1CircuitBreakerPausePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circuit-breaker/pause"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1CircuitBreakerRecoveryPostRequest struct {
	ctx context.Context
	ApiService CircuitBreakerAPI
	body *map[string]interface{}
}

func (r ApiApiV1CircuitBreakerRecoveryPostRequest) Body(body map[string]interface{}) ApiApiV1CircuitBreakerRecoveryPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1CircuitBreakerRecoveryPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1CircuitBreakerRecoveryPostExecute(r)
}

/*
ApiV1CircuitBreakerRecoveryPost Recover from a pause (not yet implemented — requires guardian auth)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1CircuitBreakerRecoveryPostRequest
*/
func (a *CircuitBreakerAPIService) ApiV1CircuitBreakerRecoveryPost(ctx context.Context) ApiApiV1CircuitBreakerRecoveryPostRequest {
	return ApiApiV1CircuitBreakerRecoveryPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CircuitBreakerAPIService) ApiV1CircuitBreakerRecoveryPostExecute(r ApiApiV1CircuitBreakerRecoveryPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitBreakerAPIService.ApiV1CircuitBreakerRecoveryPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circuit-breaker/recovery"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1CircuitBreakerStatusGetRequest struct {
	ctx context.Context
	ApiService CircuitBreakerAPI
	scope *string
	identifier *string
}

func (r ApiApiV1CircuitBreakerStatusGetRequest) Scope(scope string) ApiApiV1CircuitBreakerStatusGetRequest {
	r.scope = &scope
	return r
}

func (r ApiApiV1CircuitBreakerStatusGetRequest) Identifier(identifier string) ApiApiV1CircuitBreakerStatusGetRequest {
	r.identifier = &identifier
	return r
}

func (r ApiApiV1CircuitBreakerStatusGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1CircuitBreakerStatusGetExecute(r)
}

/*
ApiV1CircuitBreakerStatusGet Check circuit-breaker pause status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1CircuitBreakerStatusGetRequest
*/
func (a *CircuitBreakerAPIService) ApiV1CircuitBreakerStatusGet(ctx context.Context) ApiApiV1CircuitBreakerStatusGetRequest {
	return ApiApiV1CircuitBreakerStatusGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CircuitBreakerAPIService) ApiV1CircuitBreakerStatusGetExecute(r ApiApiV1CircuitBreakerStatusGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitBreakerAPIService.ApiV1CircuitBreakerStatusGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circuit-breaker/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scope == nil {
		return nil, reportError("scope is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "")
	if r.identifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identifier", r.identifier, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1CircuitBreakerWhitelistGetRequest struct {
	ctx context.Context
	ApiService CircuitBreakerAPI
	type_ *string
	address *string
	asset *string
}

func (r ApiApiV1CircuitBreakerWhitelistGetRequest) Type_(type_ string) ApiApiV1CircuitBreakerWhitelistGetRequest {
	r.type_ = &type_
	return r
}

func (r ApiApiV1CircuitBreakerWhitelistGetRequest) Address(address string) ApiApiV1CircuitBreakerWhitelistGetRequest {
	r.address = &address
	return r
}

func (r ApiApiV1CircuitBreakerWhitelistGetRequest) Asset(asset string) ApiApiV1CircuitBreakerWhitelistGetRequest {
	r.asset = &asset
	return r
}

func (r ApiApiV1CircuitBreakerWhitelistGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1CircuitBreakerWhitelistGetExecute(r)
}

/*
ApiV1CircuitBreakerWhitelistGet Check whitelist status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1CircuitBreakerWhitelistGetRequest
*/
func (a *CircuitBreakerAPIService) ApiV1CircuitBreakerWhitelistGet(ctx context.Context) ApiApiV1CircuitBreakerWhitelistGetRequest {
	return ApiApiV1CircuitBreakerWhitelistGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CircuitBreakerAPIService) ApiV1CircuitBreakerWhitelistGetExecute(r ApiApiV1CircuitBreakerWhitelistGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CircuitBreakerAPIService.ApiV1CircuitBreakerWhitelistGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/circuit-breaker/whitelist"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.type_ == nil {
		return nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	if r.address != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "address", r.address, "")
	}
	if r.asset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset", r.asset, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
