/*
Bridge-Watch API

Real-time Stellar bridge monitoring API. Provides bridge statuses, asset health, liquidity, price feeds, alert management, analytics, and administrative controls.  ## Authentication Protected endpoints require an API key in the `x-api-key` header.  ## Rate Limiting All endpoints are rate-limited per IP using a sliding-window algorithm backed by Redis. Exceeding the limit returns **429 Too Many Requests** with a `Retry-After` header.  ## Versioning All REST endpoints are prefixed with `/api/v1/`. Breaking changes increment the version segment.  ## Error Format ```json { \"error\": \"Short label\", \"message\": \"Human-readable description\" } ```

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package bridgewatch

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type CacheAPI interface {

	/*
	ApiV1CacheInvalidatePost Invalidate cache entries

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1CacheInvalidatePostRequest
	*/
	ApiV1CacheInvalidatePost(ctx context.Context) ApiApiV1CacheInvalidatePostRequest

	// ApiV1CacheInvalidatePostExecute executes the request
	ApiV1CacheInvalidatePostExecute(r ApiApiV1CacheInvalidatePostRequest) (*http.Response, error)

	/*
	ApiV1CacheStatsGet Get Redis cache statistics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1CacheStatsGetRequest
	*/
	ApiV1CacheStatsGet(ctx context.Context) ApiApiV1CacheStatsGetRequest

	// ApiV1CacheStatsGetExecute executes the request
	ApiV1CacheStatsGetExecute(r ApiApiV1CacheStatsGetRequest) (*http.Response, error)

	/*
	ApiV1MetricsRateLimitsGet Rate-limit sliding-window metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1MetricsRateLimitsGetRequest
	*/
	ApiV1MetricsRateLimitsGet(ctx context.Context) ApiApiV1MetricsRateLimitsGetRequest

	// ApiV1MetricsRateLimitsGetExecute executes the request
	ApiV1MetricsRateLimitsGetExecute(r ApiApiV1MetricsRateLimitsGetRequest) (*http.Response, error)
}

// CacheAPIService CacheAPI service
type CacheAPIService service

type ApiApiV1CacheInvalidatePostRequest struct {
	ctx context.Context
	ApiService CacheAPI
	apiV1CacheInvalidatePostRequest *ApiV1CacheInvalidatePostRequest
}

func (r ApiApiV1CacheInvalidatePostRequest) ApiV1CacheInvalidatePostRequest(apiV1CacheInvalidatePostRequest ApiV1CacheInvalidatePostRequest) ApiApiV1CacheInvalidatePostRequest {
	r.apiV1CacheInvalidatePostRequest = &apiV1CacheInvalidatePostRequest
	return r
}

func (r ApiApiV1CacheInvalidatePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1CacheInvalidatePostExecute(r)
}

/*
ApiV1CacheInvalidatePost Invalidate cache entries

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1CacheInvalidatePostRequest
*/
func (a *CacheAPIService) ApiV1CacheInvalidatePost(ctx context.Context) ApiApiV1CacheInvalidatePostRequest {
	return ApiApiV1CacheInvalidatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CacheAPIService) ApiV1CacheInvalidatePostExecute(r ApiApiV1CacheInvalidatePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CacheAPIService.ApiV1CacheInvalidatePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/cache/invalidate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiV1CacheInvalidatePostRequest == nil {
		return nil, reportError("apiV1CacheInvalidatePostRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiV1CacheInvalidatePostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1CacheStatsGetRequest struct {
	ctx context.Context
	ApiService CacheAPI
}

func (r ApiApiV1CacheStatsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1CacheStatsGetExecute(r)
}

/*
ApiV1CacheStatsGet Get Redis cache statistics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1CacheStatsGetRequest
*/
func (a *CacheAPIService) ApiV1CacheStatsGet(ctx context.Context) ApiApiV1CacheStatsGetRequest {
	return ApiApiV1CacheStatsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CacheAPIService) ApiV1CacheStatsGetExecute(r ApiApiV1CacheStatsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CacheAPIService.ApiV1CacheStatsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/cache/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1MetricsRateLimitsGetRequest struct {
	ctx context.Context
	ApiService CacheAPI
}

func (r ApiApiV1MetricsRateLimitsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1MetricsRateLimitsGetExecute(r)
}

/*
ApiV1MetricsRateLimitsGet Rate-limit sliding-window metrics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1MetricsRateLimitsGetRequest
*/
func (a *CacheAPIService) ApiV1MetricsRateLimitsGet(ctx context.Context) ApiApiV1MetricsRateLimitsGetRequest {
	return ApiApiV1MetricsRateLimitsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CacheAPIService) ApiV1MetricsRateLimitsGetExecute(r ApiApiV1MetricsRateLimitsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CacheAPIService.ApiV1MetricsRateLimitsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/metrics/rate-limits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
